h1 {
  font-size: 42px;
  line-height: 44px;
  letter-spacing: 3px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  line-height: 22px;
  letter-spacing: 4px;
}

h3 {
  font-size: 28px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  line-height: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

h6 {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

@media (min-width: 450px) and (max-width: 767px) {
  h1 {
    font-size: 42px;
    line-height: 44px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0;
  }

  h4 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  h6 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.6px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 44px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
  }

  h4 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
  }

  h6 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
