$color-white: #fff;
$color-black:#000;
$color-yellow: #ffd382;
$color-golden: #ffb84f;
$color-purple-light: #b794dc;
$color-purple-dark: #5300ac;
$color-purple-bright: #af40aa;
$color-green-light: #85bd7c;
$color-green-dark: #2a6b00;
$color-green-bright: #40c23a;
$color-red-dark: #ce2020;
$color-red-light: #ff8082;
$color-red-bright: #ff2428;
