$color-white: #fff;
$color-black:#000;
$color-yellow: #FFD382;
$color-golden: #FFB84F;
$color-purple-light: #B794DC;
$color-purple-dark: #5300AC;
$color-purple-bright: #AF40AA;
$color-green-light: #85BD7C;
$color-green-dark: #2A6B00;
$color-green-bright: #40C23A;
$color-red-dark: #CE2020;
$color-red-light: #FF8082;
$color-red-bright: #FF2428;
